DB_URI=mongodb://localhost:27017/your-database
PORT=8101
JWT_SECRET=your_secret_key
SLACK_ERROR_WEBHOOK=
RESEND_API_KEY=
RESEND_FROM=Bruval Flores <bruval@bakano.ec>
PAYPHONE_TOKEN=
PAYPHONE_STORE_ID=
ADMIN_EMAIL=
ADMIN_PASSWORD=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
PRODUCT_IMAGES_DIR=
